RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://www.hassonjeeautomotive.com/$1 [R=301,L] 
RewriteCond %{http_host} ^hassonjeeautomotive.com/ [NC]
RewriteRule ^(.*)$ https://www.hassonjeeautomotive.com/$1 [R=301,L] 

#user friendly urls
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

#URL Redirections
Redirect 301 /nexa-servicing-and-detailing-in-amravati /brands/nexa-servicing-and-detailing-in-amravati

#URL Redirections

ErrorDocument 404 /404.html